{% extends 'layout.html' %}

{% block content %}
  <h1>About The Team</h1>
  <!-- Evans Card -->
  <div class = "contact-card">
    <img src = "{{ url_for('static', filename='img/about/evan.jpg') }}">
    <div class="contact-card-right">
      <h1>Evan Fioritto</h1>
      <h2>Security Engineer</h2>
      <p>
        I am a CSE 435 Student
      </p>
      <a class = "contact-email" href="mailto:fioritt5@msu.edu">
          fioritt5@msu.edu
      </a>
      <a class = "contact-link" href = "https://www.linkedin.com/in/evanfioritto/">
          Website
      </a>
    </div>
  </div>

  <!-- Collins Card -->
  <div class = "contact-card">
    <img src = "{{ url_for('static', filename='img/about/collin.jpg') }}">
    <div class="contact-card-right">
      <h1>Collin Massmann</h1>
      <h2>Project Manager</h2>
      <p>
        I am a CSE 435 Student
      </p>
      <a class = "contact-email" href="mailto:massman1@msu.edu">
          massman1@msu.edu
      </a>
      <a class = "contact-link" href = "https://www.linkedin.com/in/collin-massmann-2451032b6">
          Website
      </a>
    </div>
  </div>

  <!-- Ashish's Card -->
  <div class = "contact-card">
    <img src = "{{ url_for('static', filename='img/about/collin.jpg') }}">
    <div class="contact-card-right">
      <h1>Ashish Pasula</h1>
      <h2>Communications Manager</h2>
      <p>
        I am a CSE 435 Student
      </p>
      <a class = "contact-email" href="mailto:pasulaas@msu.edu">
          pasulaas@msu.edu
      </a>
      <a class = "contact-link">
          Website
      </a>
    </div>
  </div>

  <!-- Amelias's Card -->
  <div class = "contact-card">
    <img src = "{{ url_for('static', filename='img/about/collin.jpg') }}">
    <div class="contact-card-right">
      <h1>Amelia Smallfield</h1>
      <h2>Web Design Artifacts Manager</h2>
      <p>
        I am a CSE 435 Student
      </p>
      <a class = "contact-email" href="mailto:smallfie@msu.edu">
          smallfie@msu.edu
      </a>
      <a class = "contact-link">
          Website
      </a>
    </div>
  </div>

  <!-- Sofia's Card -->
  <div class = "contact-card">
    <img src = "{{ url_for('static', filename='img/about/collin.jpg') }}">
    <div class="contact-card-right">
      <h1>Sofia Perez Rodriguez</h1>
      <h2>Meeting Coordinator & Facilitator</h2>
      <p>
        I am a CSE 435 Student
      </p>
      <a class = "contact-email" href="mailto:perezso1@msu.edu">
          perezso1@msu.edu
      </a>
      <a class = "contact-link">
          Website
      </a>
    </div>

  </div>
{% endblock %}
