<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
    {% seo %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/project' | relative_url }}">Project</a></li>
            <li><a href="{{ '/prototype' | relative_url }}">Prototype</a></li>
            <li><a href="{{ '/team' | relative_url }}">Team</a></li>
            <li><a href="{{ '/course' | relative_url }}">Course</a></li>
        </ul>
    </nav>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}. All rights reserved.</p>
    </footer>
</body>
</html>